.widget-assets .widget-padding {
    font-size: 0.9em;
}

.checkboxes-left {
    float: left;
    margin-left: 5%;
    width: 40%;
}

.checkboxes-right {
    float: right;
    margin-right: 5%;
    width: 40%;
}

.binItemOptions {
    padding-top: 1em;
}