<form class="form has-help" [formGroup]="form" (ngSubmit)="onSubmit($event)" iuForm>

  <mat-card class="name-card">
    <div class="control">
      <mat-input-container>
        <input matInput placeholder="Group Name" value="" maxlength="199" formControlName="groupName" required>
        <mat-error>
          <div *ngIf="groupName?.errors?.required">
            Name is required.
          </div>
          <div *ngIf="groupName?.errors?.maxlength">
            Name must be less than 150 characters long.
          </div>
        </mat-error>
      </mat-input-container>
    </div>
  </mat-card>

  <div class="control editor-control">
    <label for="editor" class="control-label">Description:</label>
    <iu-editor class="basic-editor" elementId="editor" formControlName="groupDescription" height="100px"></iu-editor>
  </div>

  <div class="control members-control">
    <am-group-members [accountId]="accountId" [groupId]="groupId" [members]="groupMembers"></am-group-members>
  </div>

  <mat-card class="bottom-controls">
    <div class="control admin-control">
      <mat-select id="ddlGroupAdministrators" placeholder="Select Group Administrator..." formControlName="groupAdminId">
        <mat-option [value]="0">Select Group Admin...</mat-option>
        <mat-option *ngFor="let admin of admins" [value]="admin?.userId">{{ admin?.displayName }}</mat-option>
      </mat-select>
    </div>

    <div class="control">
      <label for="ddlOutline" class="control-label">Outline Format:</label>
      <mat-select id="ddlOutline" formControlName="outlineId">
        <mat-option *ngFor="let format of outlineFormats" [value]="format.id">{{ format.name }}</mat-option>
      </mat-select>
      <span class="note outline-note">
          Updating the Outline Format will change the outline format on all agendas within this group moving forward. 
          It will not change any of the formatting on prior agendas within this group.
      </span>
    </div>

    <div class="checkbox-item control">
      <mat-checkbox formControlName="allowSuggestions">Allow Suggestions</mat-checkbox>
      <span class="note suggestions-note">
        If checked, non-administrative members of the meeting's group can add suggestions to the agenda 
        which are visible and can be approved by account administrators and group administrators, managers or contributors.
      </span>
    </div>
  </mat-card>

  <div class="actions">
    <button class="btn-save" (click)="onSubmit($event)" mat-raised-button color="accent">Save</button>
    <button *ngIf="true" class="btn-delete" (click)="onDelete()" mat-raised-button color="warn">Delete</button>
    <span class="or">or</span>
    <a class="btn-cancel" [routerLink]="groupsLink">Cancel</a>
  </div>

  <div id="message" class="required"></div>

</form>