<div class="view-header">
  <h2>Add First Administrator</h2>
</div>
<form [formGroup]="form" iuForm>
  <div class="accordion-trigger" (click)="toggle()">
    <md-checkbox formControlName="useExisting">Select an existing AgendaManager user.</md-checkbox>
    <span class="note">This will be the first administrator for the new account.</span>
  </div>
  <div class="accordion-content" [@toggle]="opened? 'show' : 'hide'">
    <md-input-container>
      <input mdInput placeholder="Search Users..." formControlName="ownerInput" />
      <input type="hidden" formControlName="ownerId">
    </md-input-container>
  </div>
  <div id="users">
    <div *ngFor="let user of searchResults" class="search-result" (click)="selectUser(user)">{{ user.displayName }}</div>
  </div>
  <div class="controls" [@toggle]="!opened? 'show' : 'hide'">
    <div class="control">
      <md-input-container>
        <input mdInput placeholder="First Name" value="" maxlength="100" formControlName="firstName">
      </md-input-container>
    </div>
    <div class="control">
      <md-input-container>
        <input mdInput placeholder="Last Name" value="" maxlength="100" formControlName="lastName">
      </md-input-container>
    </div>
    <div class="control">
      <md-input-container>
        <input mdInput placeholder="Title" value="" maxlength="100" formControlName="title">
      </md-input-container>
    </div>
    <div class="control">
      <md-input-container>
        <input mdInput placeholder="Email Address" value="" maxlength="100" formControlName="emailAddress">
      </md-input-container>
    </div>
  </div>
</form>