am-icon-drag {
    margin: 10px !important;
}

#announcement-content {
    min-height: 100px;
    max-height: 160px;
    overflow-y: auto;
}

#announcement-message {
    font-size: 14px;
    padding: 40px 0;
    text-align: center;
    color: gray;
}

.list-wrapper {
    padding: 0px;
}