<am-panel-yellow>
  <div class="panel-yellow-content">
    <p>
      <strong>About Groups:</strong> Use groups to organize your users to make it easier to administer your account. Groups
      can be added to meetings to control who can view and modify a meeting. Groups can be administered on a per-member basis
      on <a id="ToMembers" [routerLink]="membersLink">the Members page</a> or per-group on this page. Certain roles can be applied to
      a group and are explained below:
    </p>
    <p>
      <strong>Group Administrator:</strong> The owner of the group. This user is the only one allowed to delete the group
      along with Account Administrators.
    </p>
    <p>
      <strong>Manager:</strong> Can do anything within an assigned group, except delete it. They have access to this page.<br
      />
    </p>
    <p>
      <strong>Contributor:</strong> Allowed to help manage meetings and agendas for this group.<br />
    </p>
    <p>
      <strong>Member:</strong> View only access to meetings and agendas of this group.<br />
    </p>
    <p>
      <strong>Voter:</strong> Allowed to vote (if enabled for meeting) for this group.<br />
    </p>
    <p>
      <strong>Vote Taker</strong> Can take votes (if enabled for meeting) for this group. Use this if you want one user to
      take votes for everyone else instead of allowing each individual to vote. This is a default setting but can be overridden
      on a meeting.<br />
    </p>
    <p>
      <strong>Minute Taker</strong> Can take minutes in meetings for this group. This is a default setting but can be overridden
      on a meeting.<br />
    </p>
    <p>
      <strong>Attendance Taker</strong> Can take attendance in meetings for this group. This is a default setting but can
      be overridden on a meeting<br />
    </p>
  </div>
</am-panel-yellow>