.wrapper {
    margin-top: 0;
}

#email-item-preview {
    margin: 1%;
    padding: 5px 0px 1em 2%;
    width: 90%;
    border-left: 1px solid #00568c;
}

#emailprint-content p {
    display: block;
    margin: 0.2em 0 0 0;
    font-family: Calibri;
}

#child-list {
    margin: 0 0 0 1.4em;
}