<form [formGroup]="form" (ngSubmit)="onSubmit()" uiForm>
    <mat-card class="group info-group">
        <div class="control">
            <mat-input-container>
                <input matInput placeholder="First Name" value="" maxlength="50" formControlName="firstName">
            </mat-input-container>
        </div>
        <div class="control">
            <mat-input-container>
                <input matInput placeholder="Last Name" value="" maxlength="50" formControlName="lastName">
            </mat-input-container>
        </div>
        <div class="control">
            <mat-input-container>
                <input matInput placeholder="Email/Username" value="" maxlength="100" formControlName="emailAddress">
            </mat-input-container>
        </div>
        <div class="control">
            <mat-input-container>
                <input matInput placeholder="Title" value="" maxlength="100" formControlName="userTitle">
            </mat-input-container>
        </div>
    </mat-card>
    <div class="editor-control">
        <label for="txtGeneralInfo" class="control-label">General Information:</label>
        <iu-editor type="basic" class="basic-editor" formControlName="generalInfo"></iu-editor>
    </div>
    <mat-card class="group">
        <div class="control">
            <mat-select placeholder="Default Group Filter" formControlName="groupId">
                <mat-option [value]="0">All Groups</mat-option>
                <mat-option *ngFor="let group of groups" [value]="group.id">{{group.name}}</mat-option>
            </mat-select>
        </div>
        <div class="control">
            <mat-select placeholder="Default Meeting Filter" formControlName="agendaDateRangeId">
                <mat-option *ngFor="let dateRange of dateRanges.values" [value]="dateRange.id">{{dateRange.name}}</mat-option>
            </mat-select>
        </div>
        <div class="control" *ngIf="showSettings">
            <mat-checkbox formControlName="warnOnDirty">Enable unsaved changes warning</mat-checkbox>
            <div class="note"> When enabled, you will be prompted to save changes before navigating away from unsaved changes within Agendas,
                Items, Notes and Minutes.
            </div>
        </div>
        <div class="control" *ngIf="showSettings">
            <mat-checkbox formControlName="autoSaveEnabled">Enable Auto Save Feature</mat-checkbox>
            <div class="note"> When enabled, your text in Rich Text boxes will be auto saved for later retrieval when entering edit mode in
                that screen.
            </div>
        </div>
    </mat-card>
    <mat-card class="password-wrapper">
        <h3 class="view-subtitle control-label">Change Password?</h3>
        <hr />
        <div class="control">
            <mat-input-container>
                <input type="password" matInput placeholder="New Password" maxlength="20" formControlName="newPassword">
            </mat-input-container>
        </div>
        <div class="control">
            <mat-input-container>
                <input type="password" matInput placeholder="Confirm New Password" maxlength="20" formControlName="confirmPassword">
            </mat-input-container>
        </div>
    </mat-card>
    <div class="actions">
        <button class="btn-save" (click)="onSubmit()" mat-raised-button color="accent">Update My Profile</button>
        <span class="or">or</span>
        <a id="Cancel" class="btn-cancel" routerLink="{{ '/' + accountUrl + '/dashboard' }}">Cancel</a>
        <p id="message" class="required" *ngIf="showMessage"></p>
    </div>
</form>