<div class="agenda-tree-item">
  <a [routerLink]="agendaItemLink" routerLinkActive="active-link" 
    [ngClass]="{ odd: odd, even: even, parent: isParent, child: isChild, suggestion: isSuggestion }">
    <span class="order">{{ order }}.</span>
    <span class="label">{{ label }}</span>
    <span class="icons">
      <mat-icon *ngIf="hasNotes">description</mat-icon>
      <mat-icon *ngIf="hasAttachments">attach_file</mat-icon>
      <mat-icon *ngIf="isSuggestion" title="Suggested Item!">check</mat-icon>
      <mat-icon *ngIf="isPrivate" title="Private Item!">lock</mat-icon>
    </span>
  </a>
</div>
  <div *ngIf="last" class="last-item">
    <button class="btn-sm btn-add" mat-raised-button color="primary">
      <mat-icon>add</mat-icon>
      <span class="btn-label">Sub-item</span>
    </button>
    <button class="btn-sm btn-quick" mat-raised-button color="primary">
      <span class="btn-label">Q</span>
    </button>
  </div>