#emailgroup-container {
    width: 100%;
}

#emailgroup-message {
    float: right;
    margin-left: 4px;
}

#recipients-list {
    width: 97%;
}

#mail-editor {
    height: 100px !important;
}

.email-label {
    line-height: 25px;
}