#bin {
    padding: 1vh 0;
    height: 60vh;
    am-panel-blue-mini {
        display: block;
        margin: 10px 0;
    }
    select {
        cursor: pointer;
    }
    option {
        cursor: pointer;
    }
}