<am-header-login></am-header-login>
<am-panel-white>
      <am-heading-login>AgendaManager | Reset Password</am-heading-login>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" iuForm>
            <div class="login-container text">
                  <span class="password-label">Password:</span>
                  <am-validation-required [show]="showPasswordRequired"></am-validation-required>
            </div>
            <div class="login-container">
                  <input id="txtPassword" type="password" maxlength="256" class="logininput" value="" formControlName="password">
            </div>
            <div class="login-container text">
                  <span class="password-label">Confirm Password:</span>
                  <am-validation-required [show]="showConfirmRequired"></am-validation-required>
            </div>
            <div class="login-container">
                  <input id="txtConfirmPassword" type="password" maxlength="256" class="logininput" value="" formControlName="confirmPassword">
            </div>
            <div class="login-container submit">
                  <div id="validation-message" class="login-message">
                        <!-- <am-validation-message [show]="true" [message]="errorMessage$ | async"></am-validation-message> -->
                  </div>
                  <!--<input type="button" class="button fat btn-submit" value="Set New Password" [disabled]="!form.valid" (click)="onSubmit()"
                        amBtnYellow>-->
                  <button type="button" class="btn-submit" [disabled]="!form.valid" (click)="onSubmit()" mat-raised-button color="accent">Set New Password</button>
                  <a type="button" class="login-link" routerLink="/login" *ngIf="showLoginLink$ | async" mat-raised-button>
                       <mat-icon>navigate_before</mat-icon> <span class="button-text">Go To Login Page</span>
                  </a>
            </div>
      </form>
</am-panel-white>
<am-footer-login></am-footer-login>