@import '../../../common';
.required {
    position: relative;
    color: red;
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}

.success-message {
    display: block;
    color: green;
    float: left;
    margin-left: 1em;
    line-height: 1em;
    max-width: 60%;
}

#inner-header img {
    width: 100%;
    max-width: 600px;
}

.login-message {
    float: left;
    margin: 9px 0;
    max-width: 50%;
}

a.login-link {
    float: left;
    margin-left: 12px;
    color: #fff !important;
    padding: 0 10px;
    background-color: mat-color($material-primary-color, 500);
}

a.login-link .button-text {
    padding: 1px 5px 0 0;
}

a.login-link:hover {
    text-decoration: none !important;
}

.password-label {
    float: left;
}

.submit {
    padding-top: 30px;
}

.btn-submit {
    float: right;
    color: #fff !important;
    padding: 0 12px 0 8px;
}