<div class="agendas" [@toggle]="(showDetails$ | async) ? 'show' : 'hide'">
  <div class="agenda-options">
    <a class="btn-sm btn-edit" md-raised-button color="primary" *ngIf="showEdit$ | async" [routerLink]="editLink">
      <md-icon>edit</md-icon>
      <span class="btn-label">Edit</span>
    </a>
    <button class="btn-sm" md-raised-button color="primary" *ngIf="showAddTemplate$ | async" (click)="clickTemplate()">
      <md-icon>layers</md-icon>
      <span class="btn-label">Template</span>
    </button>
    <span id="agenda-message"></span>
  </div>
  <div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px">
    <md-tab-group [selectedIndex]="activeIndex">
      <md-tab *ngFor="let agenda of agendas">
        <ng-template md-tab-label>
          <a [routerLink]="getAgendaLink(agenda.id)" class="agenda-link">{{ agenda.name }}</a>
        </ng-template>
      </md-tab>
    </md-tab-group>
    <div class="agendaview k-content k-state-active">
      <div class="access-message agendaview-padding">
        This Agenda belongs to members of the <strong>{{ groupName }}</strong> Group and is visible to <strong>{{ visibility }}</strong>.
        <div class="agenda-description" [innerHTML]="agenda.description"></div>
      </div>
      <div class="agendaview-description"></div>
    </div>
  </div>
</div>
<router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>