.attachment-preview {
    color: #000;
    font-style: italic;
    width: 500px;
    font-size: 0.9em;
}

.attachment-sprite {
    display: inline-block;
    height: 23px;
    width: 23px;
    text-indent: -9999px;
    vertical-align: text-top;
    margin-left: 5px;
}

.attachment-name {
    width: 95%;
}