<mat-card class="notes-container">
  <iu-accordion [active]="false">
    <div class="accordion-content">
      <div class="editor-wrapper" [style.display]="editorDisplay">
        <am-notes-form (changes)="onChanges()"></am-notes-form>
      </div>
    </div>
    <div class="accordion-trigger" (click)="toggle()">
      <span class="border-left"></span>
      <div class="toolbar">
        <button mat-button class="trigger-label" [class.active-link]="openedNotes" (click)="onClickNotes($event)">My Notes</button>
        <button mat-button class="trigger-label" [class.active-link]="openedMinutes" (click)="onClickMinutes($event)">My Minutes</button>
        <span class="arrows-wrapper">
          <am-arrows-up-down></am-arrows-up-down>
        </span>
        <div class="buttons">
          <button mat-raised-button color="accent">
            <mat-icon>save</mat-icon>
            <span class="icon-text">Save</span>
          </button>
          <button mat-raised-button color="accent">
            <mat-icon>delete</mat-icon>
            <span class="icon-text">Delete</span>
          </button>
        </div>
      </div>
      <mat-icon [@toggle]="opened ? 'hide' : 'show'" (@toggle.start)="onStart($event)" (@toggle.done)="onDone($event)">expand_less</mat-icon>
    </div>
  </iu-accordion>
</mat-card>