<div id="divAttachments" class="item-attachments">
</div>
<span id="search"></span>
<div id="Stage">
    <div class="view-header">
        <h2>Attachments</h2>
    </div>

    <label for="attachmentId">
        Id:
    </label>
    <input name="attachmentId" type="text" id="attachmentId" class="field">
    <input type="button" value="Open" id="btnOpen" class="submission">
    <div class="demo-section k-header">
        <input name="files" id="files" type="file" />
    </div>

    <input type="button" value="Save" class="btn-save" class="submission">
    <div id="message" class="validate"></div>
</div>