<div id="edit-bar">

  <div class="actions">
    <span *ngIf="editing">
      <button class="btn-save" md-raised-button color="accent">Save</button>
      <span class="or">or</span>
    <a class="btn-cancel" [routerLink]="editLink">Exit Edit Mode</a>
    </span>
    <span *ngIf="showSuggestions" class="suggestionbuttons">
      <input type="button" value="Reject" class="button fat btnreject">
    </span>
  </div>

  <div *ngIf="showRight" class="normal-view">
    <a md-raised-button color="primary" class="btn-sm" *ngIf="showCopyFromBin" [routerLink]="binLink">
      <md-icon>collections_bookmark</md-icon>
      <span class="btn-label">Paste From Bin</span>
    </a>
    <a md-raised-button color="primary" class="btn-sm" *ngIf="showEdit" routerLink="edit">
      <md-icon>edit</md-icon>
      <span class="btn-label">Edit Mode</span>
    </a>
    <button md-raised-button color="primary" class="btn-sm" *ngIf="showCopyToBin" (click)="onCopyToBin()">
        <md-icon>add_to_photos</md-icon>
      <span class="btn-label">Copy To Bin</span>
    </button>
    <a md-raised-button color="primary" class="btn-sm btn-email" *ngIf="showEmail" [routerLink]="emailLink">
      <md-icon>mail</md-icon>
      <span class="btn-label">Email</span>
    </a>
    <button md-raised-button color="primary" class="btn-sm btn-delete" *ngIf="showDelete" (click)="onDelete()">
        <md-icon>delete</md-icon>
      <span class="btn-label">Delete</span>
    </button>
  </div>

  <span id="edit-bar-status"></span>
</div>