#test-links {
    clear: both;
    padding: 10px;
    position: absolute;
    right: 0px;
    top: 176px;
}

#test-links a {
    float: left;
    clear: left;
    color: #00568c;
}

.tab {
    padding-left: 20px;
}