#template-manager {
    margin: 0;
    padding: 1vh 0;
    height: 62vh;
}

#templates-list-wrapper {
    height: 100%;
    width: 49.5%;
    float: left;
    overflow-y: hidden;
}

#template-wrapper {
    height: 100%;
    width: 49.5%;
    float: right;
    overflow-y: hidden;
}