
#ToMeetings {
    margin-right: 1em;
    float: right;
    margin-top: 0.2em
}

.blue-text {
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}

.widget-content {
    max-height: 200px;
    overflow-y: auto;
}

#content-wrapper {
    padding: 0px;
}

.note {
    margin-bottom: 10px;
}

am-meeting-filters {
    margin-top: -10px;
    display: block;
}