<div id="Stage2">
    <div class="col1">
        <div id="draggable-container">
            <div class="drop-target-row">
                <div id="drop-target-1" class="drop-target">
                    <div id="dragitem1" class="draggable-item">
                        <am-announcements-widget></am-announcements-widget>
                    </div>
                </div>
                <div id="drop-target-2" class="drop-target">
                    <div id="dragitem2" class="draggable-item">
                        <am-notifications-widget></am-notifications-widget>
                    </div>
                </div>
            </div>
            <div id="drop-target-3" class="drop-target-full">
                <div id="dragitem3">
                    <am-meetings-widget></am-meetings-widget>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col3">
        <div id="preview" class="at-side-nopadding">
        </div>
        <am-message-preview *ngIf="hasMessage$ | async"></am-message-preview>
        <div class="panel-right-validation">
            <div id="message" class="validate"></div>
        </div>
    </div> -->
</div>
  <am-test-routes></am-test-routes>  