<div class="slideshow-controls">
  <div class="previous">
    <img id="btnPrevImg" src="/assets/images/site/Previous-Arrow.png" />
  </div>
  <div class="selected-agenda-wrapper">
    <div class="selected-agenda">
      <span class="selected-agenda-label">Selected Agenda:</span>
      <select id="ddlAgendas"></select>
      <div class="selected-index">
        <div>
          <span id="count">1</span>&nbsp;of&nbsp;
          <span id="total"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="next">
    <img id="btnNextImg" src="/assets/images/site/Next-Arrow.png" />
  </div>
</div>