#minutes-container {
    padding: 1vh 0;
    min-height: 60vh;
}

#minutes-header {
    font-weight: bold;
    font-size: 1.1em;
    color: #4e5466;
}

.minutes-content {
    margin: 10px 20px;
}

.control-label {
    font-size: 18px;
}