<am-panel-yellow>
  <div class="panel-yellow-content">
    <p><strong>About Basic Information:</strong> The <em>Account Name</em> will identify your AgendaManager site, this should
      be the name of your organization. This will appear at the top of every page and be the name of your "All Members" Group.
    </p>
    <p>Use the <em>Description</em> field to tell others a little about your organization/team. This appears to the public and
      all members when they visit <a [routerLink]="accountLink">your account home page</a>.
    </p>
  </div>
</am-panel-yellow>