<am-header-login></am-header-login>
<am-panel-white>
    <am-heading-login>AgendaManager | Sign In</am-heading-login>
    <form id="login-controls" [formGroup]="form" iuForm>
        <div class="login-container text">
            <span class="textbox-label">Username:</span>
            <am-validation-required [show]="showUsernameRequired"></am-validation-required>
        </div>
        <div class="login-container">
            <input id="txtUsername" type="text" maxlength="256" class="logininput" formControlName="username">
        </div>
        <div class="login-container text">
            <span class="textbox-label">Password:</span>
            <am-validation-required [show]="showPasswordRequired"></am-validation-required>
        </div>
        <div class="login-container">
            <input id="txtPassword" type="password" maxlength="256" class="logininput" formControlName="password">
        </div>
        <div class="login-container">
            <a id="forgotpassword" (click)="recoverPassword()">Forgot Password?</a>
            <div id="forgot-password-loading" class="just-loading-image" *ngIf="showLoading"></div>
        </div>
        <div class="login-container">
            <br />
            <button id="btnLogin" md-raised-button color="accent" (click)="login()">Login</button>
            <div id="message" class="login-message">
                <!-- <am-validation-message [show]="true" [message]="errorMessage$ | async"></am-validation-message> -->
                <am-validation-message [show]="showRecoveredPassword" message="A message with a password recovery link was sent to your email address."></am-validation-message>
                <am-validation-message [show]="showUsernameRequired" message="Please supply a username."></am-validation-message>
                <am-validation-message [show]="showPasswordRequired" message="Please supply a password."></am-validation-message>
            </div>
        </div>
    </form>
</am-panel-white>
<am-footer-login></am-footer-login>


<am-test-routes></am-test-routes>