@import '../../../../common';
.join-account {
    overflow: hidden;
    width: 90%;
    padding: 12px 0%;
    background-color: #e9f0f8;
    border-top: 1px solid $primary-color;
    font-size: 13px;
}

.join-account-directions {
    margin: 10px 0px;
    line-height: 14px;
}

.join-account-note {
    margin-top: 8px;
    font-style: italic;
    font-size: 13px;
}

.join-account-reason {
    margin: 4px 0;
}

.join-account-reason-text {
    width: 90%;
}

.send-request {
    float: left;
}

.account-input {
    color: gray;
    width: 90%;
}

.select-account-list {
    height: 80px;
    width: 90%;
}

.mat-input-container {
    padding: 10px 0;
}

#btnSendRequest {
    line-height: 16px;
    border-radius: 4px;
    padding: 4px 8px 4px 4px;
}

.panel-blue-content {
    max-height: 420px;
}