.account-usergroup {
    font-weight: bold;
}

.join-account-wrapper {
    margin-bottom: 14px;
    margin-left: 0px;
    font-size: 12px;
}

.join-account-toggle {
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 14px;
    margin-left: 0px;
}

.panel-blue-content {
    padding: 0;
}