@import '../../theme';

/* CSS RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 12px;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: #fff;
    line-height: 1;
    font-family: Arial; // background: rgb(233, 240, 248); // #e9f0f8
    padding-bottom: 20px;
}

#top {
    width: 100%;
    float: left;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0 none;
    font-family: Arial, "Segoe UI", Tahoma, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: 0;
    padding: 0;
    vertical-align: baseline;
}

html,
body {
    height: 100%;
}

#wrapper {
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    min-width: 768px;
}

a {
    cursor: pointer;
}

a.hyperlink {
    text-decoration: underline;
    color: #000;
}

a.hyperlink:hover {
    color: $accent-color;
}

.login-header {
    font-size: 1.4em;
    text-align: left;
    padding: 0.5em;
    float: left;
}

#inner-header {
    margin: 0 auto;
    max-width: 800px;
}

header h1 {
    margin: 0 auto;
    max-width: 600px;
}

.login-container {
    width: 80%;
    margin: 0 auto;
    clear: both;
}

#secondary {
    width: 100%;
    margin: 0 auto;
    font-size: 1.2em;
    color: $primary-color;
    padding: 2em 0 1.5em 0;
}

#secondary a {
    margin: 0.6em 0em;
    cursor: pointer;
}

.button {
    border-radius: 4px;
    color: #000;
    background-color: #fcf7d4;
    border: 1px solid #c8d2ea;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #fcea80;
}

.button.thin {
    padding: 2px 8px 2px 8px;
    font-size: 0.9em;
}

.button.fat {
    padding: 5px 8px;
    font-size: 1em;
}

.login-container a,
#AccountInfo-Container .link {
    color: #000;
    font-size: .8em;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}

.login-container a:hover {
    text-decoration: underline;
    color: $accent-color;
}

#AccountInfo-Container .link {
    margin-right: 1em;
    margin-top: 0.6em;
}

#AccountInfo-Container .link:hover {
    color: $accent-color;
}

.login-container.text {
    padding-top: 1.2em;
    color: $primary-color;
    font-size: 1.3em;
}

.login-container .logininput {
    width: 100%;
    background-color: #f5f7fc;
    padding: 10px 10px;
    width: 100%;
    border: 1px solid #c8d2ea;
    font-size: 1.1em;
}

#login-logout a:hover {
    color: #000;
    text-decoration: none;
}