<am-panel-yellow>
  <div class="panel-yellow-content">
    <p>
      <strong>About Announcements:</strong> Use an announcement to alert your users of information you want your organization
      to see.<br /><br />There are 3 types of announcements:
    </p>
    <p><strong>System:</strong> System wide announcements for things like scheduled down times, new features etc.</p>
    <p><strong>Account:</strong> Announcements to a particular account composed by an account administrator for that account.</p>
    <p><strong>Group:</strong> Announcements to a particular group, composed by a group administrator for that group.</p>
    <p>
      Announcements appear on a users Dashboard once they are logged in. You can control when and how long an annoucement is displayed
      by supplying a begin and end date on this form.
    </p>
  </div>
</am-panel-yellow>